{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="this is a blog site that is developed by django">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'blog/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'blog/main.css'%}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'home-route'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'about-route'%}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-route'%}">add post</a>
                </li>
                {%if not user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register-route'%}">register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login-route'%}">login</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout-route'%}">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile-route'%}">profile</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>
    {% block body%} {% endblock body%}
    <script src="{% static 'blog/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'blog/bootstrap.min.js'%}"></script>
</body>

</html>